* {
  font-size : 32px;
}

a {
  color : #1000f3;
  text-decoration: none;
}
a:visited {
  color : #1000f3;
}

#root {
  display : flex;
  width : 100%;
}

.menu{
  width : 300px;
  border-right : 1px solid #777;
}

.menu li{
  list-style: none;
  border-bottom: 1px solid #999;
}

.menu li.active a{
  color : green;
}

.menu li a {
  font-size : 24px;
}


.content {
  flex : 1;
  margin-left : 20px;
}